body {
  background-color: #272e3b;
  font-family: 'Consolas', monaco, monospace;
  text-decoration: none;
  font-weight: normal;
  color: #e1e5ed;
  font-size: 0.9em;
}

.headbox{
  background-color: #272e3b;
  /*padding: 20px;*/
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-bottom: 0.1px solid white;//#a2b8e0
}

.homebutton{
  /*background-color: #272e3b*/;
  text-decoration: none;
  color: #e1e5ed;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 40px;
  text-decoration: none;
}

.swapbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 140px;
}

.chartsbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 240px;
}

.walletconnectbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  right: 120px;

  border: 0.5px solid white;
  border-radius: 10px;
}

.headboxcontents1-1{
  background-color: #1a1e24;
  position: absolute;
  height: 60px;
  width: 400px;

  font-weight: bold;
  padding: 5px;
  top: 150%;
  left: 33.2%;
  border: 1px solid #1a1e24;
  border-radius: 20px;
}

.headboxcontents1-2{
  background-color: #1a1e24;
  position: absolute;

  font-weight: normal;
  top: 25%;
  left: 5%;
  padding: 5px;
}

/*.hr{
  border: none;
  height:1px
  color: #1a1e24;
  /*position: fixed;
  width: 40%;
  height: 2px;
  display: normal;
  background-color: #1a1e24;
}*/


.headboxcontents1-4{
  background-color: #1a1e24;
  position: absolute;

  font-weight: normal;
  /*padding: 5px;*/
  top: 20px;
  right: 200px;
}


.contractaddressbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 5px;
  top: 20%;
  left: 80%;
}

.mainbox{
  background-color: #1a1e24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  height: 420px;
  width: 400px;

  padding: 10px;
  border: 1px solid #1a1e24;
  border-radius: 20px;
}

.mainboxcontents1{
  background-color: #1a1e24;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 20px;
}


.mainboxcontents2{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 60px;
  left: 20px;
  width: 350px;
  height: 50px;

  /*border: 1px solid #272e3b;
  border-radius: 20px;*/
}

.mainboxcontents2-1{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 0px;
  font-size: 12px;
}
.mainboxcontents2-2{
  border: none;
  appearance: none;
  background-color: #1a1e24;
  position: absolute;
  padding: 5px;
  top: 35px;
}

.mainboxcontents2-3{
  width: 20px;
  padding-left: 300px;
  padding-top: 30px;
  font-size: 12px;
}

/*
.mainboxcontents2-3 ul{
  list-style: none;
  margin-top: 2%
}

.mainboxcontents2-3 ul li{
  width: 20px;
  border: 0.5px solid white;
  height: 20px;
  line-height: 5px;
  text-align: center;
  float: left;
  color: white;
  position: relative;
}
*/

.mainboxcontents3{
  background-color: #1a1e24;
  position: absolute;
  top: 120px;
  left: 200px;
  width: 1px;
  height: 10px;
}

.mainboxcontents3-1{
  color: gray;
  font-weight: normal;
  font-size: 22px;
  position: absolute;

  /*border-top: 3px solid white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;*/
}

.mainboxcontents4{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 180px;
  left: 20px;
  width: 350px;
  height: 80px;

  border: 1px solid #272e3b;
  border-radius: 20px;
}

.mainboxcontents4-1{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 5px;
  font-size: 12px;
}
.mainboxcontents4-2{
  border: none;
  appearance: none;
  background-color: #1a1e24;
  position: absolute;
  padding: 5px;
  top: 35px;
  left: -0.01%;
}

.mainboxcontents4-3{
  width: 20px;
  padding-left: 300px;
  padding-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

.mainboxcontents5{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 300px;
  left: 125px;
  width: 260px;
  height: 10px;
  font-size: 12px;
}

.finalbutton{
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 70px;
  right: 60px;
  width: 220px;
  height: 30px;

  border: 0.5px solid white;
  border-radius: 10px;
}
