body {
  background-color: #272e3b;
  font-family:'Optima', sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 1.1em;
}

.headbox{
  background-color: #272e3b;
  /*padding: 20px;*/
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-bottom: 0.1px solid #1a1f29;
}

.homebutton{
  /*background-color: #272e3b*/;
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 40px;
  text-decoration: none;
}

.swapbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 140px;
}

.chartsbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 240px;
}

.walletconnectbutton{
  text-decoration: none;
  color: white;
  position: absolute;
  padding: 10px;
  top: 20px;
  right: 120px;

  border: 0.5px solid white;
  border-radius: 10px;
}

/*.hr{
  border: none;
  height:1px
  color: #1a1e24;
  /*position: fixed;
  width: 40%;
  height: 2px;
  display: normal;
  background-color: #1a1e24;
}*/

.mainbox{
  background-color: #1a1e24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;

  padding: 10px;
  border: 1px solid #1a1e24;
  border-radius: 20px;
}

.mainboxcontents1{
  background-color: #1a1e24;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 20px;
}


.mainboxcontents2{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 80px;
  left: 20px;
  width: 350px;
  height: 80px;

  border: 1px solid #272e3b;
  border-radius: 20px;
}

.mainboxcontents2-1{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 5px;
  font-size: 14px;
}
.mainboxcontents2-2{
  border: none;
  appearance: none;
  background-color: #1a1e24;
  position: absolute;
  padding: 5px;
  top: 40px;
}

.mainboxcontents2-3{
  width: 20px;
  margin: 0 auto;
}

.mainboxcontents2-3 ul{
  list-style: none;
  margin-top: 2%
}

.mainboxcontents2-3 ul li{
  width: 20px;
  border: 0.5px solid white;
  height: 20px;
  line-height: 5px;
  text-align: center;
  float: left;
  color: white;
  position: relative;
}

.mainboxcontents3{
  background-color: #1a1e24;
  position: absolute;
  top: 180px;
  left: 200px;
  width: 1px;
  height: 1px;
}

.mainboxcontents3-1{
  color: white;
  position: absolute;
  height: 4px;
}

.mainboxcontents4{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 230px;
  left: 20px;
  width: 350px;
  height: 80px;

  border: 1px solid #272e3b;
  border-radius: 20px;
}

.mainboxcontents4-1{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 5px;
  font-size: 14px;
}
.mainboxcontents4-2{
  border: none;
  appearance: none;
  background-color: #1a1e24;
  position: absolute;
  padding: 5px;
  top: 40px;
}

.mainboxcontents5{
  background-color: #1a1e24;
  position: absolute;
  padding: 10px;
  top: 360px;
  left: 125px;
  width: 180px;
  height: 10px;
  font-size: 14px;
}

.finalbutton{
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 440px;
  left: 60px;
  width: 265px;
  height: 30px;

  border: 0.5px solid white;
  border-radius: 10px;
}
