body {
  background-color: #272e3b;
  font-family: 'Consolas', monaco, monospace;
  text-decoration: none;
  font-weight: normal;
  color: #e1e5ed;
  font-size: 0.9em;
}

.headbox{
  background-color: #272e3b;
  /*padding: 20px;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-bottom: 0.1px solid white;//#a2b8e0
}

.homebutton{
  /*background-color: #272e3b*/;
  text-decoration: none;
  color: #e1e5ed;
  position: fixed;
  padding: 10px;
  top: 3%;
  left: 5%;
  text-decoration: none;
}

.swapbutton{
  text-decoration: none;
  color: white;
  position: fixed;
  padding: 10px;
  top: 5%;
  left: 90%;
}

.chartsbutton{
  text-decoration: none;
  color: white;
  position: fixed;
  padding: 10px;
  top: 3%;
  right: 20%;
}

.walletconnectbutton{
  text-decoration: none;
  color: white;
  position: fixed;
  padding: 10px;
  top: 3%;
  right: 8%;

  border: 0.5px solid white;
  border-radius: 10px;
}

.headboxcontents1-1{
  background-color: #1a1e24;
  position: fixed;
  height: 60px;
  width: 400px;

  font-weight: bold;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -320%);
  border: 1px solid #1a1e24;
  border-radius: 20px;
}

.headboxcontents1-2{
  background-color: #1a1e24;
  position: fixed;

  font-weight: normal;
  top: 17%;
  left: 5%;
  padding: 5px;
}

/*.hr{
  border: none;
  height:1px
  color: #1a1e24;
  /*position: fixed;
  width: 40%;
  height: 2px;
  display: normal;
  background-color: #1a1e24;
}*/


.headboxcontents1-4{
  background-color: #1a1e24;
  position: fixed;

  font-weight: normal;
  /*padding: 5px;*/
  top: 17%;
  left: 32%;
}


.contractaddressbutton{
  text-decoration: none;
  color: white;
  position: fixed;
  padding: 5px;
  top: 20%;
  left: 80%;
}

.mainbox{
  background-color: #1a1e24;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  height: 420px;
  width: 400px;

  padding: 10px;
  border: 1px solid #1a1e24;
  border-radius: 20px;
}

.mainboxcontents1{
  background-color: #1a1e24;
  font-weight: bold;
  position: fixed;
  padding: 10px;
  top: 4%;
  left: 4%;
}


.mainboxcontents2{
  background-color: #1a1e24;
  position: fixed;
  padding: 10px;

  top: 40%;
  width: 350px;
  height: 50px;

  /*border: 1px solid #272e3b;
  border-radius: 20px;*/
}

.mainboxcontents2-1{
  background-color: #1a1e24;
  position: fixed;
  padding: 10px;
  top: 14%;
  left: 8%;
  font-size: 12px;
}
.mainboxcontents2-2{
  border: none;
  /*appearance*/
  background-color: #1a1e24;
  position: fixed;
  padding: 5px;
  top: 20%;
  left: 8%;
}

.mainboxcontents2-3{
  position: fixed;
  width: 20px;
  padding-left: 80%;
  bottom: 72%;
  right: 20%;
  font-size: 12px;
}

/*
.mainboxcontents2-3 ul{
  list-style: none;
  margin-top: 2%
}

.mainboxcontents2-3 ul li{
  width: 20px;
  border: 0.5px solid white;
  height: 20px;
  line-height: 5px;
  text-align: center;
  float: left;
  color: white;
  position: relative;
}
*/

.mainboxcontents3{
  background-color: #1a1e24;
  position: fixed;
  top: 27%;
  left: 50%;
  width: 1px;
  height: 10px;
}

.mainboxcontents3-1{
  color: gray;
  font-weight: normal;
  font-size: 22px;
  position: fixed;

  /*border-top: 3px solid white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;*/
}

.mainboxcontents4{
  background-color: #1a1e24;
  position: fixed;
  padding: 10px;
  top: 42%;
  left: 5%;
  width: 350px;
  height: 80px;

  border: 1px solid #272e3b;
  border-radius: 20px;
}

.mainboxcontents4-1{
  background-color: #1a1e24;
  position: fixed;
  padding: 10px;
  top: 45%;
  left: 8%;
  font-size: 12px;
}
.mainboxcontents4-2{
  border: none;
  appearance: none;
  background-color: #1a1e24;
  position: fixed;
  padding: 5px;
  top: 52%;
  left: 8%;
}

.mainboxcontents4-3{
  width: 20px;
  padding-top: 10%;
  padding-left: 80%;
  font-size: 20px;
  font-weight: bold;
}

.mainboxcontents5{
  background-color: #1a1e24;
  position: fixed;
  padding: 10px;
  top: 66%;
  left: 32%;
  width: 260px;
  height: 10px;
  font-size: 12px;
}

.finalbutton{
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: fixed;
  padding: 10px;
  top: 82%;
  left: 20%;
  width: 240px;
  height: 30px;

  border: 0.5px solid white;
  border-radius: 10px;
}
